body {
    font-family: 'roboto slab', serif;
}

.navbar {
    background-color: #660066;
}

.lastwork {
    background-color:#ff4500;
}

.footer {
    background-color: #660066 ;
}


.navmenu {
    float: right;
}

.card-text {
    font-weight: 400;
}

.card-title {
    font-weight: 600;
}