body {
    font-family: 'roboto slab', serif;
}

.navbar {
    background-color: #485E8C;
}

.textosobremi {
    background-color: #349985;
}

.lastwork {
    background-color:#399B88;
}

.footer {
    background-color: #485E8C ;
}

.navmenu {
    float: right;
}

.card-text {
    font-weight: 400;
}

.card-title {
    font-weight: 600;
}

#bgfoto {
    height: 35rem;
    background-size: cover;
}

.yosoy {
    padding-top: 10rem;   
}

.yosoytext{
    text-decoration-line: underline;
    font-weight: 600;
}